@import url(http://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,900,900italic|Raleway:400,100,900,200,300|Alegreya+Sans+SC:400,100,500,900,900italic,300,100italic,300italic|Roboto:400,100|Josefin+Sans:400,300,400italic,100italic,100|Work+Sans:400,200,100,300,900,500);
html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #fcb3bc;
    text-shadow: none;
}

::selection {
    background: #fcb3c9;
    text-shadow: none;
}


audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

body, html {
  background: rgb(0, 0, 0);
  color: rgb(255,255,255);
  font-family: "Helvetica Neue", "Proxima Nova", "Open Sans", "Source Sans Pro", "Raleway", "Roboto", "Helvetica", "Arial", sans-serif;
}
#wrapper {
  display: block;
  width: 900px;
  margin: 0 auto;
  position: relative;
  padding: 0;

}

ul.navbar {
  padding: 20px 10px;
  display: block;
  float: left;
}

.navbar li {
  display: block;
  float: left;
  margin: 0 10px;
}




a, a:active, a:visited, a:focus {
  color: #FF004C;
  text-decoration: none;
}
a:hover {
  color: rgb(68, 68, 68);
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 100;
}

s1{
  background: #FF004C;
}

section.header {
  display: block;
  position: relative;

}

section.header img {
  display: block;
  width: 900px;
  height: auto;
}

section.header h1 {
  display: block;
  position: absolute;
  bottom: 5px;
  font-size: 40px;
  left: 10px;
  letter-spacing: 1px;
}

section.header h4 {
  display: block;
  position: absolute;
  bottom: -6px;
  left: 180px;
  font-size: 18px;
  letter-spacing: 0px;
}

section.header-skills {
  background: #FF004C;
  float: left;
  display: block;
  position: relative;
  padding: 0px 24px;
}
.skills-block {
  float: left;
  display: block;
}

.skills-block h2 {
  display: block;
  float: left;
  padding: 0px 12px;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: 4px;
}
span.thick {
  font-weight: 700;
  letter-spacing: 0px;
}


ul.skills-list {
  list-style: none;
  padding: 0;
  margin: 0;
  float: left;
  display: block;

}
ul.skills-list li {
  float: left;
  padding-right: 2px;
  letter-spacing: 2px;
}

ul.skills-list li:nth-child(even) {
  font-weight: 700;
}

ul.skills-list li:nth-child(odd) {
  font-weight: 100;
}





.hidden {
    display: none !important;
}


.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}


.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

@media only screen and (min-width: 35em) {

}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
}
@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
