@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,400italic,300italic,700,300);

html, body {
    width: 100%;
    height: auto;
    font-family: "Roboto", "Helvetica Neue", "Proxima Nova", "Lato", "Open Sans", "Helvetica", "Arial", sans-serif;
    border: 0;
    padding: 0;
    background: rgb(249, 249, 249);
}
#heading {
    width: 900px;
    margin: 0 auto;
    display: block;
    padding: 0;
    text-align: left;
}
#footer {
    width: 900px;
    margin: 0 auto;
    display: block;
    padding: 12px;
    text-align: right;
}
img {
    width: 160px;
    height: auto;
}
span {
    font-family: "Roboto Condensed", "Open Sans Condensed", "Roboto", "Helvetica Neue", "Proxima Nova", "Lato", "Open Sans", "Helvetica", "Arial", sans-serif;
    font-size: 12px;
    display: inline-block;
    vertical-align: middle;
    line-height: 36px;
    color: rgb(149, 149, 149);
}
span.text {
  padding-top: 22px;
}
body {
    text-align: center;
}
canvas {
    background: rgb(255, 255, 255);
    transform: rotateX(180deg);
    border-left: 25px solid rgb(225, 225, 225);
    border-right: 25px solid rgb(225, 225, 225);
    margin: 0 auto;
    padding: 0;
    display: block;

}
#canvas-wrap {
    position: relative;
    padding: 0;
    margin: 0;
}
#content {
    box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.18);
    background: rgb(232, 232, 232);
    padding: 0px;
    margin: 0;
    text-align: center;
}
