html, body {
    width: 100%;
    height: auto;
    background: rgb(201, 201, 201);
  }
body {
    text-align: center;
    padding-top: 5px;
}
canvas {
  border: 5px solid rgb(68, 68, 68);
  background: rgb(222, 222, 222);
  transform: rotateX(180deg);
}
#canvas-wrap {
    position: relative;
}
